<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'CSS/themtudien.css'%}">
    </head>
    <body>
        <script src="" async defer></script>
        <h1 class="w3ls"></h1>
        <div class="content-w3ls">
            <div class="content-agile1">
                <h2 class="agileits1">Thêm từ điển</h2>
            </div>
            <div class="content-agile2">
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit"  class="add" value = "Thêm"/>
                    <a class="add" href='../'>Thoát<a>	
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>